/* main style sheet */

@media screen and (max-width: 2000px) {

	/* For desktop/laptop */
	
	body {
		margin: 0;
		font-family: "Courier";
	}

	#menu {
		background-color: #253949;
		margin: 0;
		padding: 0px, 0, 0px, 0;
		list-style: none;
		text-align: center;
	}

	#menu ul {margin: 0;}

	#menu li { display: inline-block; padding-right: 50px }

	#menu li a { color: white; text-decoration: none; line-height: 50px; font-size: 15px; }

	#menu li a:hover { color: black; }

	.circular-img {
		border-collapse: collapse;
		padding: 0;
		margin: 0;
		max-width: 95%;
		border: 5px solid black; 
		border-radius: 50%;
	}

	#my_name {
		margin: 0;
		padding: 0;
		left: 0;
		width: 100%;
		background-color: #91cfec;
		text-align: center;
		font-family: Courier New;
	}

	#my_name h2, #education h2 {font-size: 25px;}
	#my_name p, #education p,  #education li { font-size: 15px; }

	#vl {margin: 0px 0px 0px 0px; }
	
	#education {
		margin: 0;
		padding: 0;
		left: 0;
		width: 100%;
		font-family: Courier New;
		background-color:#37c5ee;
	}
	
	#skills {
		margin: 0;
		padding: 0;
		left: 0;
		width: 100%;
		font-family: Courier New;
		background-color:#c3e4f3;
	}

	#experience {
		margin: 0;
		padding: 0;
		left: 0;
		width: 100%;
		font-family: Courier New;
		background-color:#91ecdc;
	}
	
	#contact {
		margin: 0;
		padding: 0;
		left: 0;
		width: 100%;
		font-family: Courier New;
		background-color: #d2e5af;
		text-align: center;
	}

	#user_interview, #competitor_analysis, #feature_value_matrix, #feature_prior, #user_stories, #cog_walkthrough, #user_test, #findings1, #findings2, #changes1, #changes2, #changes3 {
		margin: 0;
		padding: 0;
		left: 0;
		width: 100%;
		font-family: Courier New;
		text-align: center;
	}

	#education p { margin:0; }

	#education li {list-style-type: none;}

	#bio { margin: auto; width: 50%; padding: 0; text-align: center; }
	#edu { margin: auto; width: 50%; padding: 70px; text-align: center; }
	#skz { margin: auto; width: 50%; padding: 30px; text-align: center; }
	#exp { margin: auto; width: 50%; padding: 30px; text-align: center; }
	#con { margin: auto; width: 50%; padding: 30px; text-align: center; }
	#user_int, #com_a, #feat_val, #feat_p, #user_s, #feat_val, #feat_p, #user_s, #cog_walk, #user_t, #find_1, #find_2, #chng_1, #chng_2, #chng_3  { margin: auto; width: 50%; padding: 30px; text-align: center; }
	
	#edu ul {padding: 0}
	
	#skill-list1, #skill-list2, #skill-list3, #skill-list4, { padding:0 }

	#skill-list1 li, #skill-list2 li, #skill-list3 li, #skill-list4 li{
		display: inline-block;
	}


	#con ul {padding: 0}
	#con h2 {margin: 150px 0px 0px 5px;}
	#con li { display: inline-block; padding-right: 10px; }

	#user-research, #user-testing, #findings, #changes {
		position: relative;
		left: 25%;
		margin-right: 25%;
		max-width: 800px;
	}
	
	#user-research h3, #user-research p { position: relative; left: 3%; margin-right: 3%;}
	#user-testing h3, #user-testing p { position: relative; left: 3%; margin-right: 3%;}
	#findings h3, #findings p { position: relative; left: 3%; margin-right: 3%;}
	#changes h3, #changes p { position: relative; left: 3%; margin-right: 3%;}
	
}

@media screen and (max-width: 1025px) {
	/* For tablet devices -- tested with
	 * iPad Air 2 interface */
	
	#about {
		position: relative;
		left: 30%;
		margin-right: 30%;
		max-width: 400px;

	}

	#about h2 { text-align: center; }
	
	#experience {
		position: relative; 
		left: 30%;
		margin-right: 30%;
		max-width: 400px;

	}

	#experience h2 { text-align: center; }

	#contact { position: relative; left: 30%; margin-right: 30%; }

}

@media screen and (max-width: 479px) {
	/* For mobile/phone devices -- tested with
	 * iPhone 5 interface */
	
	nav li { display: block; padding: 1; }

	#my_name {
		margin: 0;
		padding: 0;
		left: 0;
		width: 100%;
		text-align: center;
		font-family: Courier New;
		font-size: 1.5em;
	}

	#about {
		position: relative;
		left: 2%;
		margin-right: 2%;
		max-width: 400px;

	}

	#about h2, #about h3, #about p { text-align: center; }
	
	#experience {
		position: relative; 
		left: 2%;
		margin-right: 2%;
		max-width: 400px;

	}

	#experience h2,  #experience h3 {
		text-align: center;
	}

	#contact {
		position: relative;
		left: 2%;
		margin-right: 2%;
		max-width: 400px;
		text-align: center;
	}

	#contact textarea { width: 250px; }

	footer li { 
		display: inline-block;
		position: relative;
		right: 6%;
		left-margin: 6%;	
	}

}

